@use 'mixins' as m;
@use 'variables' as v;

html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before*::after{
    box-sizing: inherit;
    
}
html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: v.$cl-neutral-veryDarkBlue;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;

}


